name: Deploy to GitHub Pages

on:
  # Executa quando houver um push na branch main, master ou Principal
  push:
    branches: ["main", "master", "Principal"]

  # Permite executar manualmente na aba Actions
  workflow_dispatch:

# Permissões necessárias para o GITHUB_TOKEN implantar no Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Permite apenas um deploy concorrente
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Trabalho de Build
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'

      - name: Instalar dependências
        run: npm install

      - name: Construir o projeto (Build)
        run: npm run build
        env:
          # Mapeia o Secret API_KEY para a variável VITE_API_KEY
          # O Vite detecta automaticamente variáveis começando com VITE_
          VITE_API_KEY: ${{ secrets.API_KEY }}

      - name: Upload do artefato
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  # Trabalho de Deploy
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy no GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4